---
import "#styles/post-content.css";

import BaseLayout from "#layouts/BaseLayout.astro";
import DecorationBar from "#components/common/DecorationBar.astro";
import { getSortedLivePosts } from "../../posts";
import { render, type CollectionEntry } from "astro:content";
import Metadata from "#components/posts/Metadata.astro";

export async function getStaticPaths() {
  function postToPath(post: CollectionEntry<"posts">) {
    return {
      params: {
        id: post.id,
      },
      props: {
        post,
      },
    };
  }

  return (await getSortedLivePosts()).map(postToPath);
}

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<style>
  :root {
    --page-margin: 4rem 0;
    --content-side-margin: 20px;
    --title-size: 3rem;
    --subtitle-size: 1.5rem;
    --title-color: var(--accent-color);
    --subtitle-color: var(--note-color);
    --content-width: 700px;
    --escape-width: 80%;

    @media (max-width: 768px) {
      --page-margin: 20px 0;
      --content-width: calc(100% - 2 * var(--content-side-margin));
      --escape-width: var(--content-width);
    }
  }

  body {
    margin: var(--page-margin);
  }

  .to-center {
    display: grid;
    grid-template-columns:
      minmax(var(--content-side-margin), 1fr) var(--content-width)
      minmax(var(--content-side-margin), 1fr);
  }

  .nav {
    padding: 0 1rem 2rem 1rem;
    font-size: 0.8rem;
    font-family: var(--flow-font);
    font-weight: 300;

    @media (max-width: 768px) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: end;
    }

    & > a {
      display: block;
      text-decoration: none;
      color: var(--text-color);
      transition: color 0.3s ease;

      &:hover {
        color: var(--accent-color);
      }

      &::before {
        content: "\2190";
        margin-right: 1ch;
      }
    }

    & ::selection {
      background-color: var(--text-color);
      color: var(--background-color);
    }
  }

  .header {
    padding-bottom: 1.5rem;
    gap: 1.5rem 0;

    @media (max-width: 1300px) {
      padding-bottom: 0rem;
    }
  }

  .title {
    font-size: var(--title-size);
    font-weight: 800;
    font-family: var(--font-vollkorn);
    color: var(--title-color);
    line-height: 1.05;
    text-wrap: balance;

    &::selection {
      background-color: var(--title-color);
      color: var(--background-color);
    }
  }

  .subtitle {
    font-size: var(--subtitle-size);
    font-weight: 400;
    font-family: var(--font-vollkorn);
    color: var(--subtitle-color);
    line-height: 1.5;
    text-wrap: balance;

    &::selection {
      background-color: var(--subtitle-color);
      color: var(--background-color);
    }
  }
</style>
<style is:global>
  .to-center {
    & > * {
      grid-column: 2 / 3;
    }
  }
</style>
<BaseLayout title={post.data.title} description={post.data.excerpt}>
  <nav class="nav to-center">
    <a href="/posts">All posts on izimani</a>
  </nav>
  <header class="header to-center">
    <hgroup>
      <h1 class="title">{post.data.title}</h1>
      <p class="subtitle">{post.data.excerpt}</p>
    </hgroup>
    <div>
      <DecorationBar />
    </div>
  </header>
  <main>
    <article class="content to-center">
      <Metadata post={post} />
      <Content />
    </article>
  </main>
</BaseLayout>
