---
import "#styles/post-content.css";
import { type CollectionEntry, render } from "astro:content";
import { shortToLink } from "#shorts";
import Time from "#components/common/Time.astro";

interface Props {
  shorts: (CollectionEntry<"shorts"> & { Content?: unknown })[];
}

const { shorts } = Astro.props;

for (const short of shorts) {
  const { Content } = await render(short);
  short.Content = Content;
}
---

<style>
  * {
    --date-width: 150px;
    --date-color: var(--note-color);

    --content-width: 700px;
    --content-color: var(--text-color);

    --title-color: var(--accent-color);
  }

  .short-listing {
    min-height: 50vh;
  }

  .short {
    margin-left: calc(50% - (var(--content-width) / 2 + var(--date-width)));
    max-width: calc(var(--content-width) + var(--date-width));
    display: grid;
    grid-template-columns: var(--date-width) 1fr;
    gap: 1rem;
    font-family: var(--flow-font);

    @media (max-width: 768px) {
      margin: 0 auto;
      max-width: 100%;
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }

  .short-metadata {
    display: flex;
    flex-flow: column wrap;
    align-items: end;
    min-width: var(--date-width);
    line-height: 1;
    gap: 0.2rem;

    @media (max-width: 768px) {
      min-width: auto;
      width: 100%;
      flex-flow: row wrap;
      gap: 0.5rem;

      & > .short-metadata-separator::before {
        content: "•";
        color: var(--note-color);
      }
    }
  }

  .short-link {
    display: block;
    color: var(--date-color);
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }
  }

  .short-title {
    font-weight: 600;
    color: var(--title-color);
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .short-content {
    grid-column: 2 / 3;
    color: var(--content-color);

    @media (max-width: 768px) {
      grid-column: 1 / 2;
    }
  }

  .short-categories {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5ch;

    & > *:not(:last-child)::after {
      content: ",";
      color: var(--note-color);
    }
  }
</style>
<div class="short-listing">
  {
    shorts.map((short) => (
      <article class="short">
        <div class="short-metadata">
          <a href={shortToLink(short)} class="short-link">
            <Time date={short.data.date} />
          </a>
          <span class="short-metadata-separator" />
          <div class="short-categories">
            {short.data.categories.map((c) => (
              <a
                href={`/shorts/categories/${c}`}
                class="short-category short-link"
              >
                {c}
              </a>
            ))}
          </div>
        </div>
        <div class="short-content">
          <h2 class="short-title">{short.data.title}</h2>
          <div class="content">
            <short.Content />
          </div>
        </div>
      </article>
    ))
  }
</div>
